###############################################
# RESTIC
###############################################

export BACKUP_PATHS="$HOME/personal $HOME/code"
export BACKUP_EXCLUDES="--exclude-file=/home/hoffs/.restic_excludes"

export B2_ACCOUNT_ID=xxxxxxxxxxxxxxxxxxxxxx

# Only see one time when creating the key, labeled: applicationKey:
export B2_ACCOUNT_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx

# the full dasherized name of the bucket
export RESTIC_REPOSITORY=b2:xxxxxxxxxxxxxxxxxxxxxxxx

# you make this up when you create the restic back up
# remember to save in password manager
# this is so b2 doesn't have access to your data either
# make sure permissions on this file are tight
# then export B2_ACCOUNT_KEY=...
#  export B2_ACCOUNT_ID=...
# export RESTIC_REPOSITORY=b2:.....
# restic init
export RESTIC_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxx

###############################################
# BITWARDEN
###############################################
export BW_SESSION="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

###############################################
# MACHINE SPECIFIC VARS
###############################################
export DPI=140
export IFNAME=wlp2s0

# random_key 64 | xclip
export BEAM_COOKIE="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
