BACKUP_PATHS="/home/hoffs/"
BACKUP_EXCLUDES="--exclude-file=/home/hoffs/.restic_excludes"
RETENTION_DAYS=7
RETENTION_WEEKS=4
RETENTION_MONTHS=6
RETENTION_YEARS=3

# key ID under "AppKeys"
B2_ACCOUNT_ID=XXXXXXXXXXXXXXXXXXXXXXXXX

# Only see one time when creating the key, labeled: applicationKey:
B2_ACCOUNT_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX


# the full dasherized name of the bucket
RESTIC_REPOSITORY=b2:XXXXXXXXXXXXXXXXXX:/

# you make this up when you create the restic back up
# remember to save in password manager
# this is so b2 doesn't have access to your data either
# make sure permissions on this file are tight
# then
# export B2_ACCOUNT_KEY=...
# export B2_ACCOUNT_ID=...
# export RESTIC_REPOSITORY=b2:.....
# restic init
# RESTIC_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
